html {
  width: 100%;
  height: 100%;
  font-family: "MicroSoft YaHei"
}

.picker {
  border: 1px solid red;
  height: 200px;
  position: relative;
  top: 100px;
  overflow: hidden;
}

.mask {
  position: absolute;
  width: 100%;
  height: 200px;
  z-index: 100;
}

.bgtop {
  position: absolute;
  width: 100%;
  height: 88px;
  border: 1px solid blue;
  z-index: 10;
}

.bgbot {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 88px;
  border: 1px solid blue;
  z-index: 10;
}

.col {
  height: 100%;
  position: relative;
  float: left;
  text-align: center;
  cursor: pointer;
  -webkit-mask-box-image: linear-gradient(to top,transparent,transparent 5%,#fff 30%,#fff 70%,transparent 95%,transparent);
}

.col .unit {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1rem;
}

.data {
  position: absolute;
  text-align: center;
  width: 100%;
}

.item {
  height: 20px;
  font-size: 20px;
  line-height: 1;
  color: #666;
}

.am-picker-active {
  font-size: 22px;
  color: red;
}
